<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs');%>
    <title>About Page</title>
</head>
<body>
    <!-- Navigation Bar -->
    <%-include('../partials/nav.ejs')%>
    <br>

</body>
</html>