<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs');%>
    <title>Main Page</title>
</head>
<body>
    <!-- Navigation Bar -->
    <%-include('../partials/nav.ejs')%>
    <br>
    <%-include('../partials/script.ejs')%>
</body>
</html>